  
  *{
      padding: 0%;
      margin: 0;
      box-sizing: border-box;
  }

  body {
    font-family: 'Open Sans', 'Lucida Grande', arial, sans-serif;
    margin: 2rem 2rem 0 2rem;
  }
  
  #place-holder {
    box-shadow: 5px 15px 30px 0 #888;
    padding: 40px;
  }
  
  #reload {
    float: right;
    opacity: 0.5;
  }
  
  #enter {
    float: right;
  }
  
  #place-holder a {
    text-decoration: none;
  }
  
  #place-holder h2 {
    font-weight: lighter;
  }
  
/*   
  .add-list span,
  .main-container h2 span {
    float: right;
    opacity: 0.5;
  }
  
  span i {
    color: grey;
  }
  
  .line-break {
    border-top: 1px solid #f1eaeaf2;
  }
  
  .add-list {
    opacity: 0.5;
  } */